// Mixins in here
.border-button {
    width: 80%;
    border: 1px solid;
    border-radius: 15px;
    background-color: teal;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
}