// Navigation Styles here


.navi-bar { 
    max-width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px dashed silver;
    margin-top: 15px;
    
    @media screen and (max-width:500px) {
        display: flex;
        flex-wrap: wrap;
    }

    .logo-nav {
        width: 48%;
        padding-top: 20px;
        @media screen and (max-width:500px) {
            width: 100%;
            text-align: center;
        }
        
    }

    .logo-nav h2 {
        width: 100%;
        text-align: center;
        
        
    }

    .nav-1 {
        width: 48%;
        display: flex;
        margin-bottom: 10px;
       
        @media screen and (max-width:500px) {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
        }
        
    
    }

    .nav-1 a {
        padding: 25px; 
        
    }

}
    